h4 {
    margin-left: 20px;
    color: #7e7e7e;
}

h2 {
    text-align: center;
}

th {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #7e7e7e;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}