{% extends "base.html" %}

{% block content %}
    {% set profs = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач', 'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
    {% if list == "ol" %}
        <h1>Список профессий</h1>
        {% for prof in profs %}
            <div>{{loop.index}}. {{prof}}</div>
        {% endfor %}
    {% elif list == "ul" %}
        <h1>Список профессий</h1>
        {% for prof in profs %}
            <li>{{prof}}</li>
        {% endfor %}
    {% else %}
        <div> Некорректный параметр:/ </div>
    {% endif %}
    {% for prof in profs %}
    {% endfor %}
{% endblock %}
