{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {% for field in form if field.name != 'csrf_token' %}
            <div>
                {% if field.name != 'submit' %}
                    {{ field.label() }}
                {% endif %}
                {{ field() }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    {{message}}
    </form>
{% endblock %}