{% extends "base.html" %}

{% block content %}
    <h2> Works log </h2>
    {% for job in jobs %}
        <h3> Action #{{job.id}} </h3>
        <table>
            <tr>
                <th> Title of activity </th>
                <th> Team leader </th>
                <th> Duration </th>
                <th> List of collaborators </th>
                <th> Is finished </th>
            </tr>
            <tr style="background-color: #d5ccff">
                <td> {{job.job}} </td>
                <td> {{job.team_leader}} </td>
                <td> {{job.work_size}} hours </td>
                <td> {{job.collaborators}} </td>
                {% if job.is_finished %}
                    <td style="background-color: #c9ffcb"> Is finished </td>
                {% else %}
                    <td style="background-color: #ff9d9d"> Is not finished </td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
{% endblock %}
